/* force the scrollbar to eliminate “jumps” in horizontal centering */
html {overflow-y:scroll;}

body { padding-top: 70px; }

.top-15 {
    margin-top: 15px;
}

.top-30 {
    margin-top: 30px;
}

table tr td.vertical-center {
    vertical-align: middle;
}